<!--<< Breadcrumb Section Start >>-->
<div class="breadcrumb-wrapper bg-cover" style="background-image: url('assets/img/breadcrumb-1.jpg');">
    <div class="container">
        <div class="page-heading">
            <div class="page-header-left">
                <h1 class="wow fadeInUp" data-wow-delay=".3s">Contacto</h1>
                <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                    <li>
                        <a (click)="global.setRoute('home')">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <i class="fa-regular fa-chevrons-right"></i>
                    </li>
                    <li>
                        Contacto
                    </li>
                </ul>
            </div>
            <div class="breadcrumb-image wow fadeInUp" data-wow-delay=".4s">
                <img src="assets/img/breadcrumb.png" alt="img">
            </div>
        </div>
    </div>
</div>

<!-- Choose Us Section Start -->
<section class="choose-us-section fix section-padding">
    <div class="container">
        <div class="section-title text-center">
            <span class="style-border wow fadeInUp">Nuestro Soporte</span>
            <h2 class="wow fadeInUp" data-wow-delay=".3s">Soporte 24/7 Horas</h2>
            <p class="wow fadeInUp" data-wow-delay=".5s">No estás solo. Nuestro equipo de soporte está a solo un mensaje
                de distancia, listo para ayudarte en cualquier momento del día o de la noche.</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                <div class="choose-us-card-items">
                    <div class="icon">
                        <img src="assets/img/support/support.png" alt="img">
                    </div>
                    <div class="content">
                        <h3>Nos encontramos en</h3>
                        <p>
                            Guadalajara, Jalisco, MX
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="choose-us-card-items">
                    <div class="icon">
                        <img src="assets/img/support/customization.png" alt="img">
                    </div>
                    <div class="content">
                        <h3><a href="mailto:contacto&#64;servi-web.com">contacto&#64;servi-web.com</a></h3>
                        <p>
                            Escríbenos en cualquier momento para cualquier tipo de <br>
                            consulta
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                <div class="choose-us-card-items">
                    <div class="icon">
                        <img src="assets/img/support/technical.png" alt="img">
                    </div>
                    <div class="content">
                        <h3>Teléfono: <a href="tel:+523314033741">+52 331 403 3741</a></h3>
                        <p>
                            Soporte prioritario por chat en vivo y sistema de tickets 24/7/365.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                <div class="choose-us-card-items">
                    <div class="icon">
                        <img src="assets/img/support/account.png" alt="img">
                    </div>
                    <div class="content">
                        <h3>Horario de Apertura</h3>
                        <p>
                            Domingo-Viernes: 9 AM – 6 PM <br>
                            Sábado: 9 AM – 4 PM
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--<< Contact Section Start >>-->
<section class="contact-section fix section-padding pt-0">
    <div class="container">
        <div class="contact-wrapper">
            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="contact-left">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Formulario de <br> contacto</h2>
                        <div class="contact-image wow fadeInUp" data-wow-delay=".5s">
                            <img src="assets/img/contact.png" alt="contact-img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-right">
                        <h3 class="wow fadeInUp">Llena este formulario para consultas</h3>
                        <!-- <form action="#" id="contact-form" method="POST" class="contact-form-items">
                            <div class="row g-4">
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="form-clt">
                                        <input type="text" name="name" id="name" placeholder="Nombre completo">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="form-clt">
                                        <input type="text" name="email" id="email" placeholder="Su correo">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="form-clt">
                                        <input type="text" name="phone" id="phone" placeholder="Número teléfonico">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="form-clt">
                                        <div class="category-oneadjust">
                                            <select name="cate" class="category">
                                                <option value="1">
                                                    Dominios
                                                </option>
                                                <option value="1">
                                                    Sitio web
                                                </option>
                                                <option value="1">
                                                    Hosting
                                                </option>
                                                <option value="1">
                                                    Soporte
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 wow fadeInUp" data-wow-delay=".7s">
                                    <div class="form-clt">
                                        <textarea name="message" id="message" placeholder="Mensaje o nota"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 wow fadeInUp" data-wow-delay=".9s">
                                    <div class="form-check d-flex gap-2 from-customradio">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault12">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Aceptar y Proteger Mis Datos
                                        </label>
                                    </div>
                                    <button type="submit" class="theme-btn">
                                        Enviar <i class="fa-solid fa-arrow-right-long"></i>
                                    </button>
                                </div>
                            </div>
                        </form> -->
 <app-contact-form></app-contact-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>