 <!-- Hero Section Start -->
 <section class="hero-section hero-1 style-black-friday bg-cover fix" style="background-image: url('assets/img/hero/hero-bg-1.jpg');">
    <div class="circle-shape-left">
        <img src="assets/img/hero/hero-1-circle-left.png" alt="shape-img">
    </div>
    <div class="circle-shape-right">
        <img src="assets/img/hero/hero-1-circle-right.png" alt="shape-img">
    </div>
    <div class="dot-left">
        <img src="assets/img/hero/hero-1-dot-left.png" alt="img">
    </div>
    <div class="dot-right">
        <img src="assets/img/hero/hero-1-dot-right.png" alt="img">
    </div>
    <div class="container">
        <div class="row g-4 justify-content-between align-items-center">
            
            <div class="col-lg-6">
                <div class="hero-content">
                    <span class="sub-text-2 wow fadeInUp">
                        <img src="assets/img/hero/activity.png" alt="img" class="me-2">
                        Oferta Especial
                    </span>
                    <h1 class="wow fadeInUp" data-wow-delay=".3s">
                       <span>Desarrollo Web</span> desde 4000 MXN
                    </h1>
                    <p class="wow fadeInUp" data-wow-delay=".5s" style="color: white;">
                        Obtén un sitio web atractivo y funcional adaptado a tus necesidades. 
                    </p>
                    <a href="#contratation" class="theme-btn bg-color-2 wow fadeInUp" data-wow-delay=".5s" style="margin-top: 20px;">
                        Solicitar <i class="fas fa-long-arrow-alt-right" ></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 wow fadeInUp" data-wow-delay=".4s">
                <div class="hero-image">
                    <img src="assets/img/breadcrumb.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Feature Section Start -->
<section class="feature-web-development-section fix section-padding">
    <div class="container">
        <div class="feature-content-wrapper style-3">
            <div class="row g-4 justify-content-between align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay=".3s">
                    <div class="web-development-image">
                        <img src="assets/img/hosting/hosting-2.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-web-development-content">
                        <div class="section-title">
                            <span class="wow fadeInUp">Desarrollo de Páginas Web</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">Crea un Sitio Web <br> Que Impresione</h2>
                        </div>
                        <p class="mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
                            Crea un sitio web que no solo se vea bien, sino que también comunique claramente quién eres y qué ofreces. ¡Comencemos tu proyecto hoy!
                        </p>
                        <p class="mt-2 wow fadeInUp" data-wow-delay=".5s">
                            Todo esto por un costo inicial de <strong>$4,000 MXN</strong>. Ponte en contacto para más información.
                        </p>
                        <a href="#contratation" class="theme-btn wow fadeInUp" data-wow-delay=".5s" style="    margin-top: 20px;">Solicitar <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<< Contact Section Start >>-->
<section class="contact-section fix section-padding pt-0" id="contratation">
    <div class="container"> 
        <div class="contact-wrapper">
            <div class="row g-4">
              <!--   <div class="col-lg-6">
                    <div class="contact-left">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Formulario de <br> contacto</h2>
                        <div class="contact-image wow fadeInUp" data-wow-delay=".5s">
                            <img src="assets/img/contact.png" alt="contact-img">
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-12">
                    <div class="contact-right">
                        <h3 class="wow fadeInUp">Llena este formulario para solicitudes</h3>
                        <form action="#" id="contact-form" method="POST" class="contact-form-items">
                            <div class="row g-4">
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="form-clt">
                                        <input type="text" name="name" id="name" placeholder="Nombre completo">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="form-clt">
                                        <input type="text" name="email" id="email" placeholder="Su correo">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="form-clt">
                                        <input type="text" name="phone" id="phone" placeholder="Número teléfonico">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="form-clt">
                                        <div class="category-oneadjust">
                                            <select name="cate" class="category">
                                                <option value="1">
                                                    Dominios
                                                </option>
                                                <option value="1">
                                                    Sitio web
                                                </option>
                                                <option value="1">
                                                    Hosting
                                                </option>
                                                <option value="1">
                                                    Soporte
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 wow fadeInUp" data-wow-delay=".7s">
                                    <div class="form-clt">
                                        <textarea name="message" id="message" placeholder="Mensaje o nota"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 wow fadeInUp" data-wow-delay=".9s">
                                    <div class="form-check d-flex gap-2 from-customradio">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault12">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Aceptar y Proteger Mis Datos
                                        </label>
                                    </div>
                                    <button type="submit" class="theme-btn">
                                        Enviar <i class="fa-solid fa-arrow-right-long"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

