 <!-- Hero Section Start -->
 <section class="hero-section hero-1 style-black-friday bg-cover fix" style="background-image: url('assets/img/hero/hero-bg-1.jpg');">
    <div class="circle-shape-left">
        <img src="assets/img/hero/hero-1-circle-left.png" alt="shape-img">
    </div>
    <div class="circle-shape-right">
        <img src="assets/img/hero/hero-1-circle-right.png" alt="shape-img">
    </div>
    <div class="dot-left">
        <img src="assets/img/hero/hero-1-dot-left.png" alt="img">
    </div>
    <div class="dot-right">
        <img src="assets/img/hero/hero-1-dot-right.png" alt="img">
    </div>
    <div class="container">
        <div class="row g-4 justify-content-between align-items-center">
            
            <div class="col-lg-6">
                <div class="hero-content">
                    <span class="sub-text-2 wow fadeInUp">
                        <img src="assets/img/hero/activity.png" alt="img" class="me-2">
                        Oferta Especial
                    </span>
                    <h1 class="wow fadeInUp" data-wow-delay=".3s">
                       <span>Desarrollo Web</span> desde 4000 MXN
                    </h1>
                    <p class="wow fadeInUp" data-wow-delay=".5s" style="color: white;">
                        Obtén un sitio web atractivo y funcional adaptado a tus necesidades. 
                    </p>
                    <a href="#contratation" class="theme-btn bg-color-2 wow fadeInUp" data-wow-delay=".5s" style="margin-top: 20px;">
                        Solicitar <i class="fas fa-long-arrow-alt-right" ></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 wow fadeInUp" data-wow-delay=".4s">
                <div class="hero-image">
                    <img src="assets/img/breadcrumb.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Feature Section Start -->
<section class="feature-web-development-section fix section-padding">
    <div class="container">
        <div class="feature-content-wrapper style-3">
            <div class="row g-4 justify-content-between align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay=".3s">
                    <div class="web-development-image">
                        <img src="assets/img/hosting/hosting-2.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-web-development-content">
                        <div class="section-title">
                            <span class="wow fadeInUp">Desarrollo de Páginas Web</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">Crea un Sitio Web <br> Que Impresione</h2>
                        </div>
                        <p class="mt-4 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
                            Crea un sitio web que no solo se vea bien, sino que también comunique claramente quién eres y qué ofreces. ¡Comencemos tu proyecto hoy!
                        </p>
                        <p class="mt-2 wow fadeInUp" data-wow-delay=".5s">
                            Todo esto por un costo inicial de <strong>$4,000 MXN</strong>. Ponte en contacto para más información.
                        </p>
                        <a href="#contratation" class="theme-btn wow fadeInUp" data-wow-delay=".5s" style="    margin-top: 20px;">Solicitar <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<< Contact Section Start >>-->
<section class="contact-section fix section-padding pt-0" id="contratation">
    <div class="container"> 
        <div class="contact-wrapper">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="contact-right">
                        <h3 class="wow fadeInUp">Llena este formulario para solicitudes</h3>
                        <form [formGroup]="developerForm" (ngSubmit)="onSubmit()" class="contact-form-items">
                            <div class="row g-4">

                                <!-- Campo Nombre -->
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="form-clt">
                                        <input type="text" formControlName="name" id="name"
                                            placeholder="Nombre completo" class="form-control" />
                                        <div *ngIf="developerForm.get('name')?.touched && developerForm.get('name')?.invalid"
                                            class="error-message">
                                            <small *ngIf="developerForm.get('name')?.errors?.['required']">El nombre es
                                                obligatorio.</small>
                                            <small *ngIf="developerForm.get('name')?.errors?.['minlength']">El nombre debe
                                                tener al menos 3 caracteres.</small>
                                        </div>
                                    </div>
                                </div>

                                <!-- Campo Correo -->
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="form-clt">
                                        <input type="email" formControlName="email" id="email" placeholder="Su correo"
                                            class="form-control" />
                                        <div *ngIf="developerForm.get('email')?.touched && developerForm.get('email')?.invalid"
                                            class="error-message">
                                            <small *ngIf="developerForm.get('email')?.errors?.['required']">El correo es
                                                obligatorio.</small>
                                            <small *ngIf="developerForm.get('email')?.errors?.['email']">Debe ingresar un
                                                correo válido.</small>
                                        </div>
                                    </div>
                                </div>

                                <!-- Campo Servicio -->
                                <div class="col-lg-12 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="form-clt">
                                        <label>Seleccione el tipo de pagina web</label>
                                        <select formControlName="service" class="form-control categorys ">
                                            <option *ngFor="let service of services" [value]="service.value">
                                                {{ service.viewValue }}
                                            </option>
                                        </select>
                                        <div *ngIf="developerForm.get('service')?.touched && developerForm.get('service')?.invalid"
                                            class="error-message">
                                            <small>Debe seleccionar un servicio.</small>
                                        </div>
                                    </div>
                                </div>

                                <!-- Campo Mensaje -->
                                <div class="col-lg-12 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="form-clt">
                                        <textarea formControlName="message" id="message"
                                            placeholder="Indiquenos que nombre de dominio desea adquirir"
                                            class="form-control"></textarea>
                                        <div *ngIf="developerForm.get('message')?.touched && developerForm.get('message')?.invalid"
                                            class="error-message">
                                            <small *ngIf="developerForm.get('message')?.errors?.['required']">El mensaje es
                                                obligatorio.</small>
                                            <small *ngIf="developerForm.get('message')?.errors?.['minlength']">El mensaje
                                                debe tener al menos 10 caracteres.</small>
                                        </div>
                                    </div>
                                </div>

                                <!-- Campo Aceptar Términos -->
                                <div class="col-lg-12 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="form-check d-flex gap-2 from-customradio">
                                        <input type="checkbox" formControlName="acceptTerms" class="form-check-input"
                                            id="acceptTerms" />
                                        <label class="form-check-label" for="acceptTerms">Aceptar y Proteger Mis
                                            Datos</label>
                                        <div *ngIf="developerForm.get('acceptTerms')?.touched && developerForm.get('acceptTerms')?.invalid"
                                            class="error-message">
                                            <small>Debe aceptar los términos y condiciones.</small>
                                        </div>
                                    </div>

                                    <!-- Botón Enviar -->
                                    <button type="submit" class="theme-btn">
                                        Enviar <i class="fa-solid fa-arrow-right-long"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

