<header class="header-section-1">
    <div class="header-top">
        <div class="container">
            <div class="header-top-wrapper">
                <ul class="contact-list">
                    <li>
                        <i class="far fa-envelope"></i>
                        <a href="mailto:example.com">example.com</a>
                    </li>
                    <li>
                        <i class="fa-regular fa-phone"></i>
                        <a href="tel:+20866660112">+208-6666-0112</a>
                    </li>
                </ul>
                <p>Descuento Flash de Hostech: desde <b>$3,49/mes</b> por tiempo limitado</p>
                <ul class="list">
                    <li><i class="fa-light fa-comments"></i><a href="">Chat</a></li>
                    <!-- <li><i class="fa-light fa-user"></i>
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal2">
                            Login
                        </button>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div id="header-sticky" class="header-1">
        <div class="container">
            <div class="mega-menu-wrapper">
                <div class="header-main">
                    <div class="header-left">
                        <div class="logo">
                            <a href="index.html" class="header-logo">
                                <img src="assets/img/logo/white-logo.png" alt="logo-img">
                            </a>
                            <a href="index.html" class="header-logo-2">
                                <img src="assets/img/logo/black-logo.png" alt="logo-img">
                            </a>
                        </div>
                    </div>
                    <div class="header-right d-flex justify-content-end align-items-center">
                        <div class="mean__menu-wrapper">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="has-dropdown active menu-thumb"  (click)="global.setRoute('home')">
                                            <a >
                                            Inicio 
                                            <!-- <i class="fas fa-angle-down"></i> -->
                                            </a>
                                          
                                        </li>
                                        <li class="has-dropdown active d-xl-none" (click)="global.setRoute('home')">
                                            <a  class="border-none">
                                            Inicio
                                            <!-- <i class="fas fa-angle-down"></i> -->
                                            </a>
                                           
                                        </li>
                                        <li class="has-dropdown menu-thumb">
                                            <a >
                                            Sobre nosotros
                                            <i class="fas fa-angle-down"></i>
                                            </a>
                                            <ul class="submenu has-homemenu">
                                                <li class="border-none">
                                                    <div class="homemenu-items">
                                                        <div class="row">
                                                            <div class="col-lg-4" (click)="global.setRoute('about')">
                                                                <div class="homemenu-list">
                                                                    <div class="icon">
                                                                        <img src="assets/img/menu-icon/about.png" alt="img">
                                                                    </div>
                                                                    <div class="content">
                                                                        <h6><a >Quienes somos</a></h6>
                                                                        <p>
                                                                            Servi-Web
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="homemenu-list">
                                                                    <div class="icon">
                                                                        <img src="assets/img/menu-icon/black-friday.png" alt="img">
                                                                    </div>
                                                                    <div class="content">
                                                                        <h6><a (click)="global.setRoute('about')">Equipo</a></h6>
                                                                        <p>
                                                                            Profesionales al servicio
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown active d-xl-none">
                                            <a (click)="global.setRoute('about')" class="border-none">
                                            Servicios
                                            <i class="fas fa-angle-down"></i>
                                            </a>
                                      
                                        </li>
                                        <li class="has-dropdown menu-thumb">
                                            <a href="index.html">
                                            Hosting y Dominios
                                            <i class="fas fa-angle-down"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                            Soporte
                                            <i class="fas fa-angle-down"></i>
                                            </a>
                                            <ul class="submenu">
                                                <li><a href="#">Faq</a></li>
                                                <li><a href="#">Contacto</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="header__hamburger d-xl-block my-auto">
                            <div class="sidebar__toggle">
                                <i class="fas fa-bars"></i>
                            </div>
                        </div>
                        <div class="header-button">
                            <a href="#" class="theme-btn">
                                Contáctanos
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>