<!-- Hero Section Start -->
<section class="hero-section hero-1 style-hero-3 bg-cover fix"
    style="background-image: url('assets/img/hero/hero-bg-3.jpg');">
    <div class="dot-right">
        <img src="assets/img/hero/hero-2-dot-right.png" alt="img">
    </div>
    <div class="hero-social">
        <span>Síguenos en</span>
        <a href="https://www.facebook.com/profile.php?id=61567176527689&mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/somos_servi_web?igsh=MWExM3JtanhvNTY5aw%3D%3D&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#"></a>
        <a href="#"></a>
    </div>
    <div class="container">
        <div class="row g-4 justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="hero-content">
                    <h1 class="wow fadeInUp" data-wow-delay=".3s">
                        Bienvenidos a Servi-Web
                        <span>Hosting y Dominios</span>
                    </h1>
                    <p class="wow fadeInUp" data-wow-delay=".5s">Crea y Crece Tu Espacio Digital con Servi-web <br>
                        Impulsa Tu Presencia en Línea</p>
                    <div class="hero-author">
                        <a href="#" class="theme-btn bg-color-2 wow fadeInUp" data-wow-delay=".7s">
                            Consulta nuestros planes <i class="fas fa-long-arrow-alt-right"></i>
                        </a>
                        <span class="button-text wow fadeInUp" data-wow-delay=".9s">
                            <a href="#" class="video-btn ripple video-popup">
                                <i class="fa-solid fa-play"></i>
                            </a>
                            <span class="ms-4 d-line">Watch Video</span>
                        </span>
                    </div>
                    <ul class="hosting-list wow fadeInUp" data-wow-delay=".3s">
                        <li>
                            <span>.com</span>
                            $399
                        </li>
                        <li>
                            <span>.com.mx</span>
                            $900
                        </li>
                        <li>
                            <span>.org</span>
                            $429
                        </li>
                        <li>
                            <span>.net</span>
                            $449
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-5 wow fadeInUp" data-wow-delay=".4s">
                <div class="hero-image-items">
                    <div class="circle-shape">
                        <img src="assets/img/hero/circle.png" alt="shape-img">
                    </div>
                    <div class="hero-image">
                        <img src="assets/img/hero/hero-girl.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Feature Section Start -->
<section class="feature-section">
    <div class="container">
        <div class="feature-wrapper-2">
            <div class="row g-4">
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="feature-card-items">
                        <div class="icon">
                            <img src="assets/img/feature-icon/icon-1.png" alt="img">
                        </div>
                        <div class="content">
                            <h3>Rendimiento Máximo</h3>
                            <p>Optimiza el uso de recursos para lograr la máxima eficiencia en todas las operaciones,
                                mejorando la productividad general.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="feature-card-items">
                        <div class="icon">
                            <img src="assets/img/feature-icon/icon-2.png" alt="img">
                        </div>
                        <div class="content">
                            <h3>Máxima Transferencia de Datos</h3>
                            <p>Asegura la rápida y eficiente transferencia de grandes volúmenes de datos, ideal para
                                aplicaciones que requieren alta velocidad.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                    <div class="feature-card-items">
                        <div class="icon">
                            <img src="assets/img/feature-icon/icon-3.png" alt="img">
                        </div>
                        <div class="content">
                            <h3>Super Fácil de Usar</h3>
                            <p>Diseñado con una interfaz intuitiva, permite a los usuarios realizar tareas sin
                                complicaciones, incluso sin experiencia previa.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="feature-card-items">
                        <div class="icon">
                            <img src="assets/img/feature-icon/icon-4.png" alt="img">
                        </div>
                        <div class="content">
                            <h3>Máxima Seguridad</h3>
                            <p>Colaborativamente formular el capital principal y evolucionar progresivamen
                            <p>Implementa robustas medidas de seguridad que protegen la información y los datos del
                                usuario, garantizando la confianza y la privacidad.</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- About Section Start -->
<section class="about-section section-padding fix">
    <div class="container">
        <div class="about-wrapper">
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    <div class="about-image-items">
                        <div class="about-sub">
                            Alojamiento exitoso 25k+
                        </div>
                        <div class="shape-image">
                            <img src="assets/img/about/shape.png" alt="img">
                        </div>
                        <div class="about-image-1 wow fadeInLeft" data-wow-delay=".3s">
                            <img src="assets/img/about/01.jpg" alt="img">
                            <div class="about-image-2 wow fadeInUp" data-wow-delay=".5s">
                                <img src="assets/img/about/02.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-title">
                            <span class="wow fadeInUp">SOBRE NOSOTROS</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">Elige un Socio de Alojamiento Web Ahora Mismo.
                            </h2>
                        </div>
                        <p class="mt-3 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
                            Hay muchas variaciones de pasajes de Lorem Ipsum disponibles, pero la mayoría han sufrido
                            alteraciones en alguna forma, ya sea por humor inyectado o palabras aleatorias que no
                            parecen ni siquiera ligeramente creíbles.
                        </p>
                        <div class="about-counter-items">
                            <div class="counter-items wow fadeInUp" data-wow-delay=".3s">
                                <h2><span class="count">50</span>k</h2>
                                <h6>Clientes Globales</h6>
                            </div>
                            <div class="counter-items ps-0 wow fadeInUp" data-wow-delay=".5s">
                                <h2><span class="count">98</span>%</h2>
                                <h6>Casos de Éxito</h6>
                            </div>
                            <div class="video-thumb wow fadeInUp" data-wow-delay=".7s">
                                <img src="assets/img/about/video-img.jpg" alt="video-img">
                                <div class="video-box">
                                    <span class="button-text wow fadeInUp">
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I"
                                            class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a (click)="global.setRoute('about')" class="theme-btn wow fadeInUp" data-wow-delay=".5s">Saber más <i class="fas fa-long-arrow-alt-right"></i> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hosting Section Start -->
<section class="offer-hosting-section section-padding fix bg-cover"
    style="background-image: url('assets/img/hosting/hosting.jpg');">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="section-title">
                    <span class="white-text wow fadeInUp">Oferta por Tiempo Limitado</span>
                    <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">Venta Flash de Alojamiento</h2>
                </div>
                <p class="text-white mt-3 mt-md-0 wow fadeInUp" data-wow-delay=".5s">¡Aprovecha nuestra exclusiva Venta
                    Flash de Alojamiento y lleva tu presencia en línea al siguiente nivel!</p>
                <a href="#" class="theme-btn bg-color-2 mt-5 wow fadeInUp" data-wow-delay=".4s">Comenzar <i
                        class="fas fa-long-arrow-alt-right"></i></a>
            </div>
            <div class="col-lg-8">
                <div class="offer-hosting-wrapper">
                    <div class="offter-hosting-items responsive-style wow fadeInUp" data-wow-delay=".3s"
                        style="background-image: url('assets/img/offer-card-bg.png');">
                        <div class="icon">
                            <img src="assets/img/email-1.png" alt="img">
                        </div>
                        <div class="content">
                            <div class="offer-text">
                                <span>Oferta por Tiempo Limitado</span>
                                <!--                                 <h3>76% de Descuento</h3>
 -->
                            </div>
                            <h4>El Alojamiento Web Implica Rentar <br> un Servidor de un Proveedor de Hosting.</h4>
                            <a href="#" class="theme-btn">Ver planes <i class="fa-regular fa-chevrons-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<!-- Feature Section Start -->
<section class="feature-hosting-section fix section-padding">
    <div class="container">
        <div class="feature-content-warpper margin-top-60">
            <div class="row g-4 justify-content-between align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay=".3s">
                    <div class="feature-hosting-image">
                        <img src="assets/img/hosting-boy.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="feature-hosting-content">
                        <div class="section-title">
                            <span class="wow fadeInUp">Mejor Alojamiento</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">Obtén un Alojamiento de Buen Nivel <br> a un
                                Precio Asequible</h2>
                        </div>
                        <p class="mt-3 mt-md-0 wow fadeInUp" data-wow-delay=".5s">
                            Descubre nuestros planes de hosting diseñados para satisfacer las necesidades de todo tipo
                            de proyectos, desde sitios web personales hasta grandes plataformas empresariales. Ofrecemos
                            un servicio confiable y de alto rendimiento, con recursos escalables que se adaptan a tu
                            crecimiento. Con precios asequibles, obtendrás un alojamiento de calidad que incluye soporte
                            técnico 24/7, copias de seguridad automáticas y un dominio gratis en tu primer año. No
                            comprometas la calidad; elige un hosting que potencie tu presencia en línea sin afectar tu
                            presupuesto.
                        </p>
                        <div class="list-items">
                            <ul class="wow fadeInUp" data-wow-delay=".3s">
                                <li>
                                    <i class="far fa-check"></i>
                                    Soluciones de Marketing para Sitios Web
                                </li>
                                <li>
                                    <i class="far fa-check"></i>
                                    Instalación de Aplicaciones Ilimitadas
                                </li>
                                <li>
                                    <i class="far fa-check"></i>
                                    Monitoreo del Sistema 24/7
                                </li>
                            </ul>
                        </div>
                        <a href="#planeshosting" class="theme-btn wow fadeInUp" data-wow-delay=".5s">Ver Precios <i
                                class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section Start -->

<!-- Pricing Section Start -->
<section class="pricing-section fix section-padding section-bg" id="planeshosting">
    <div class="pricing-shape">
        <img src="assets/img/pricing-shape.png" alt="img">
    </div>
    <div class="container">
        <div class="section-title text-center">
            <span class="wow fadeInUp">Precios de planes</span>
            <h2 class="wow fadeInUp" data-wow-delay=".3s">Elija el plan más conveniente <br> para sus necesidades</h2>
        </div>
        <div class="pricing-tab-header">
            <div class="arrow-shape">
                <img src="assets/img/arrow.png" alt="img">
            </div>
            <ul class="nav" role="tablist">

                <li class="nav-item wow fadeInUp" data-wow-delay=".5s" role="presentation">
                    <a href="#yearly" data-bs-toggle="tab" class="nav-link" aria-selected="false" role="tab"
                        tabindex="-1">
                        Anual
                    </a>
                </li>
            </ul>
            <div class="save-text">
                Ahorra 25%
            </div>
        </div>
        <div class="tab-content">
            <div id="yearly" class="tab-pane fade show active" role="tabpanel">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="pricing-items style-2">
                            <h6 class="top-text">Plan Escencial</h6>
                            <div class="pricing-header-2">
                                <!--  <div class="price-list">
                                        <del>$2,899 Anual</del>
                                        <span>SAVE 75%</span>
                                    </div> -->
                                <h2>$2,899 <sub>/Anual</sub></h2>
                            </div>
                            <p class="text-center">
                                El plan que impulsa tu negocio
                            </p>
                            <ul class="pricing-list">
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +1 Sitio web
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +5 GB almacenamiento SSD
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +Cuentas de correo personalizadas
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +Asistencia 24/7
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +Configuración de DNS
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +Complementos
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +Copias de seguridad
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +Optimización mejorada
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +Dominio GRATIS
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +SSL GRATIS
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +Y más
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>

                            </ul>

                            <div class="pricing-button">
                                <a href="#" class="pricing-btn">
                                    Contratar
                                    <i class="fa-solid fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="pricing-items style-2 active">
                            <h6 class="top-text">Plan Multiple</h6>
                            <div class="pricing-header-2">
                                <!-- <div class="price-list">
                                        <del>120.99</del>
                                        <span>SAVE 75%</span>
                                    </div> -->
                                <h2>$4,650 <sub>/Anual</sub></h2>
                            </div>
                            <p class="text-center">
                                El plan para sitios web
                            </p>
                            <ul class="pricing-list">
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        + Sitios web a alojar (ilimitados)
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        +50 GB almacenamiento SSD
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        + Cuentas de correo personalizadas (ilimitadas)
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        + Asistencia 24/7 (Mensajería y videollamada)
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        + Configuración de DNS
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        + Complementos
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        + Copias de seguridad
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        + Optimización mejorada
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        + Dominio GRATIS
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        + SSL GRATIS
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa-solid fa-check"></i>
                                        + Y más
                                    </span>
                                    <i class="fa-light fa-circle-question"></i>
                                </li>
                            </ul>

                            <div class="pricing-button">
                                <a href="#" class="pricing-btn">
                                    Contratar
                                    <i class="fa-solid fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hosting Section Start -->
<section class="hosting-section fix section-padding">
    <div class="container">
        <div class="section-title text-center">
            <span class="style-border wow fadeInUp">Nuestros Servicios</span>
            <h2 class="mb-3 wow fadeInUp" data-wow-delay=".3s">Ofrecemos las Mejores Características</h2>
            <p class="wow fadeInUp" data-wow-delay=".5s">Servicios de dominio, hosting, diseño web y soporte para
                quienes necesitan rentar un espacio específico en la web para hacer crecer su mercado digital.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                <div class="hosting-box-items">
                    <div class="icon">
                        <img src="assets/img/hosting/icon-3.png" alt="img">
                    </div>
                    <div class="content">
                        <h3><a href="#">Venta de dominios</a></h3>
                        <p>
                            Incluye 1 año de aparcamiento del dominio. Servi-web te regala el primer año de cualquier
                            dominio siempre y cuando se rente el hosting con ellos mismos
                        </p>
                        <ul>
                            <li>- .com - $ 399</li>
                            <li>- .com.mx - $ 900</li>
                            <li>- .org - $ 429</li>
                            <li> - .net - $ 449</li>
                            <li>- pregunta por mas</li>
                        </ul>
                        <a href="#" class="theme-btn mt-4">¡Adquiere tu dominio ahora! <i
                                class="fa-regular fa-chevrons-right"></i></a>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="hosting-box-items">
                    <div class="icon">
                        <img src="assets/img/hosting/icon-13.png" alt="img">
                    </div>
                    <div class="content">
                        <h3><a href="#planeshosting">Servicio de Hosting</a></h3>
                        <p>
                            El servicio de hosting incluye tambien, Dar de alta los servicios, vincular DNS,
                            administracion del cpanel, Activacion del SSL, Activacion de los correos
                            No hay servicio de pago mensual todavia </p>
                        <a href="#" class="theme-btn mt-4">¡Contrata tu hosting hoy! <i
                                class="fa-regular fa-chevrons-right"></i></a>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                <div class="hosting-box-items">
                    <div class="icon">
                        <img src="assets/img/hosting/icon-14.png" alt="img">
                    </div>
                    <div class="content">
                        <h3><a href="#">Desarrollo de paginas web</a></h3>
                        <p>crea un sitio web que no solo se vea bien, sino que también comunique claramente quién eres y
                            qué ofreces. ¡Comencemos tu proyecto hoy!
                            Todo esto por un costo inicial de <span>$4,000 MXN.</span>
                            Ponte en contacto para mas informacion </p>
                        <a href="#" class="theme-btn mt-4">¡Desarrolla tu sitio web por solo $4,000! <i
                                class="fa-regular fa-chevrons-right"></i></a>

                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<!-- Faq Section Start -->
<section class="faq-section fix section-padding">
    <div class="container">
        <div class="faq-wrapper">
            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="faq-content">
                        <div class="section-title">
                            <span class="wow fadeInUp">PREGUNTAS FRECUENTES</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">
                                Prioriza la Seguridad y Protección de Tu Sitio
                            </h2>
                        </div>
                        <div class="faq-accordion mt-4 mt-md-0">
                            <div class="accordion" id="accordion">
                                <div class="accordion-item wow fadeInUp" data-wow-delay=".3s">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true"
                                            aria-controls="faq1">
                                            ¿Cómo instalar un tema de WordPress en cPanel?
                                        </button>
                                    </h5>
                                    <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Para instalar un tema de WordPress en cPanel, primero accede a tu cuenta de
                                            cPanel y dirígete a la sección "File Manager". Navega hasta la carpeta de tu
                                            instalación de WordPress, generalmente ubicada en
                                            public_html/wp-content/themes/. Aquí puedes subir el archivo .zip de tu
                                            tema. Una vez subido, descomprime el archivo. Luego, inicia sesión en tu
                                            panel de administración de WordPress, ve a "Apariencia" > "Temas" y activa
                                            el nuevo tema que acabas de instalar.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay=".5s">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                                            ¿Tienen servicio de alojamiento personalizado?
                                        </button>
                                    </h5>
                                    <div id="faq2" class="accordion-collapse show" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Sí, ofrecemos servicios de alojamiento personalizados adaptados a las
                                            necesidades específicas de cada cliente. Ya sea que necesites un plan de
                                            alojamiento para un sitio web pequeño o una solución más robusta para
                                            aplicaciones empresariales, nuestro equipo puede ayudarte a crear un paquete
                                            que se ajuste perfectamente a tus requerimientos.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay=".7s">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false"
                                            aria-controls="faq3">
                                            ¿Mejor seguridad y servidor más rápido?
                                        </button>
                                    </h5>
                                    <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Sí, nuestra infraestructura de alojamiento está diseñada para ofrecer una
                                            mayor seguridad y un rendimiento optimizado. Utilizamos servidores de alta
                                            calidad con tecnología de última generación, así como medidas de seguridad
                                            avanzadas, como firewalls, copias de seguridad regulares y protección contra
                                            ataques DDoS. Esto garantiza que tu sitio web funcione de manera rápida y
                                            segura.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item wow fadeInUp" data-wow-delay=".7s">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false"
                                            aria-controls="faq4">
                                            ¿Despliegue en pocos minutos?
                                        </button>
                                    </h5>
                                    <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            Absolutamente. Con nuestro servicio de alojamiento, puedes desplegar tu
                                            sitio web en cuestión de minutos. Contamos con un proceso de configuración
                                            simplificado que te permite poner tu sitio en línea rápidamente. Además,
                                            ofrecemos una instalación automática de WordPress y otros CMS populares, lo
                                            que hace que el inicio de tu proyecto sea aún más ágil.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="faq-image">
                        <img src="assets/img/faq.png" alt="img">
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- Cta contact Section Start -->
<section class="cta-contact-section">
    <div class="container ">
        <div class="cta-contact-wrapper adicional" >
            <div class="cta-contact-image wow fadeInUp">
                <img src="assets/img/cta-contact.png" alt="img">
            </div>
            <div class="section-title mb-0">
                <span class="white-text wow fadeInUp">Contáctanos</span>
                <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">Soporte de Alojamiento Experto 24/7 <br> Que
                    Nuestros Clientes Aman</h2>
            </div>
            <a href="#" class="theme-btn bg-color-2 mt-5 wow fadeInUp" data-wow-delay=".7s">Habla con un Especialista <i
                    class="fas fa-long-arrow-alt-right"></i></a>

        </div>
    </div>
</section>
