<div class="page-wrapper">
	<app-header ></app-header>
	<app-home  [hidden]="global.activeRoute!='home'"></app-home>
	<app-about [hidden]="global.activeRoute!='about'"></app-about>
    <app-contact [hidden]="global.activeRoute!='contact'"></app-contact>
    <app-planing [hidden]="global.activeRoute!='planing'"></app-planing>
    <app-domine [hidden]="global.activeRoute!='domine'"></app-domine>
    <app-developerweb [hidden]="global.activeRoute!='developerweb'"></app-developerweb>

    <app-faq [hidden]="global.activeRoute!='faq'"></app-faq>

    <app-footer ></app-footer>

	
		<div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>

        <!-- Offcanvas Area Start -->
        <div class="fix-area">
            <div class="offcanvas__info">
                <div class="offcanvas__wrapper">
                    <div class="offcanvas__content">
                        <div class="offcanvas__top mb-5 d-flex justify-content-between align-items-center">
                            <div class="offcanvas__logo">
                                <a href="#">
                                    <img src="assets/img/logo/black-logo.png" alt="logo-img">
                                </a>
                            </div>
                            <div class="offcanvas__close">
                                <button>
                                <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <p class="text d-none d-xl-block">
							Somos una empresa que ofrece servicios de dominio, hosting,
							diseño web y soporte a quienes tienen la necesidad de rentar un espacio
							específico en la web para crecer su mercado digital.
                        </p>
                        <div class="mobile-menu fix mb-3"></div>
                        <div class="offcanvas__contact">
                            <h4>Información de contacto</h4>
                            <ul>
                                <li class="d-flex align-items-center">
                                    <div class="offcanvas__contact-icon">
                                        <i class="fal fa-map-marker-alt"></i>
                                    </div>
                                    <div class="offcanvas__contact-text">
                                        <a>Guadalajara, Jalisco, MX</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="offcanvas__contact-icon mr-15">
                                        <i class="fal fa-envelope"></i>
                                    </div>
                                    <div class="offcanvas__contact-text">
                                        <a href="mailto:infoexample.com"><span class="mailto:contacto&#64;servi-web.com">contacto&#64;servi-web.com</span></a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="offcanvas__contact-icon mr-15">
                                        <i class="fal fa-clock"></i>
                                    </div>
                                    <div class="offcanvas__contact-text">
                                        <a target="_blank" href="#">Lunes-Domingo, 24/7 H.</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="offcanvas__contact-icon mr-15">
                                        <i class="far fa-phone"></i>
                                    </div>
                                    <div class="offcanvas__contact-text">
                                        <a href="tel:+523314033741">+52 331 403 3741</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="header-button mt-4">
                                <a (click)="global.setRoute('contact')" class="theme-btn text-center">
                                   Consultas <i class="fa-solid fa-arrow-right-long"></i>
                                </a>
                            </div>
                            <div class="social-icon d-flex align-items-center">
                                <a href="https://www.facebook.com/profile.php?id=61567176527689&mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/somos_servi_web?igsh=MWExM3JtanhvNTY5aw%3D%3D&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas__overlay"></div>

</div>