 <!-- Hero Section Start -->
 <section class="hero-section hero-4 fix" style="background-image: url('assets/img/hero/hero-bg-4.jpg');">
    <div class="hero-suppor-image">
        <img src="assets/img/hero/hero-support.png" alt="img">
    </div>
    <div class="hero-hosing-image">
        <img src="assets/img/hero/hero-hosting-2.png" alt="img">
    </div>
    <div class="container">
        <div class="row g-4 justify-content-between">
           <div class="col-lg-12">
            <div class="hero-doming-wrapper">
                <h1 class="text-white wow fadeInUp" data-wow-delay=".3s">¡Obtén tu dominio y disfruta del primer año gratis!</h1>
                <h6 class="wow fadeInUp" data-wow-delay=".5s">Almacenamiento ilimitado, ancho de banda sin límites, hosting inmejorable. ¡Aquí te cubrimos!</h6>
             
                <ul class="doming-list">
                    <li class="wow fadeInUp" data-wow-delay=".2s">
                        <span>.com</span>
                        $399
                    </li>
                    <li class="wow fadeInUp" data-wow-delay=".4s">
                        <span>.com.mx</span>
                        $900
                    </li>
                    <li class="wow fadeInUp" data-wow-delay=".6s">
                        <span>.org</span>
                        $429
                    </li>
                    <li class="wow fadeInUp" data-wow-delay=".8s">
                        <span>.net</span>
                        $449
                    </li>
                </ul>
            </div>
           </div>
        </div>
    </div>
</section>

<!-- Doming List Section Start -->
<section class="doming-list-section fix section-padding" style="padding-top: 50px;">
    <div class="container">
        <div class="section-title text-center">
            <span class="style-border wow fadeInUp">DOMINIOS POPULARES</span>
            <h2 class="mb-3 wow fadeInUp" data-wow-delay=".3s">Busca Los Dominios Mas Populares</h2>
            <p class="wow fadeInUp" data-wow-delay=".5s">
                Encuentra el dominio perfecto para tu proyecto y da el primer paso
                hacia tu presencia en línea.<br> Si necesitas ayuda para elegir el ideal, estamos aquí
                para asesorarte. Además, al contratar cualquiera de nuestros planes de hosting,
                ¡te regalamos el primer año de tu dominio!            </p>
        </div>
        
        <div class="row g-0">
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                <div class="doming-list-items">
                    <h6 class="top-text">Nombre</h6>
                    <ul>
                        <li class="border-none">
                            <span></span>
                        </li>
                        <li><img src="assets/img/doming/com.png" alt="img"> .com</li>
                        <li><img src="assets/img/doming/org.png" alt="img"> .org</li>
                        <li><img src="assets/img/doming/com.png" alt="img"> .com.mx</li>
                        <li><img src="assets/img/doming/net.png" alt="img"> .net</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="doming-list-items">
                    <h6 class="top-text">Registro</h6>
                    <ul>
                        <li class="border-none">
                            <span></span>
                        </li>
                        <li class="text-center style-2">$399</li> <!-- .com -->
                        <li class="text-center style-2">$900</li> <!-- .com.mx -->
                        <li class="text-center style-2">$429</li> <!-- .org -->
                        <li class="text-center style-2">$449</li> <!-- .net -->
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                <div class="doming-list-items">
                    <h6 class="top-text">Transferir</h6>
                    <ul>
                        <li class="border-none">
                            <span></span>
                        </li>
                        <li class="text-center style-2">$399</li> <!-- .com -->
                        <li class="text-center style-2">$900</li> <!-- .com.mx -->
                        <li class="text-center style-2">$429</li> <!-- .org -->
                        <li class="text-center style-2">$449</li> <!-- .net -->
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                <div class="doming-list-items">
                    <h6 class="top-text">Renovar</h6>
                    <ul>
                        <li class="border-none">
                            <span></span>
                        </li>
                        <li class="text-center style-2">$399</li> <!-- .com -->
                        <li class="text-center style-2">$900</li> <!-- .com.mx -->
                        <li class="text-center style-2">$429</li> <!-- .org -->
                        <li class="text-center style-2">$449</li> <!-- .net -->
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>

<!--<< Contact Section Start >>-->
<section class="contact-section fix section-padding pt-0" id="formcontratation">
    <div class="container"> 
        <div class="contact-wrapper">
            <div class="row g-4">
              <!--   <div class="col-lg-6">
                    <div class="contact-left">
                        <h2 class="wow fadeInUp" data-wow-delay=".3s">Formulario de <br> contacto</h2>
                        <div class="contact-image wow fadeInUp" data-wow-delay=".5s">
                            <img src="assets/img/contact.png" alt="contact-img">
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-12">
                    <div class="contact-right">
                        <h3 class="wow fadeInUp">Llena este formulario para solicitudes</h3>
                        <form action="#" id="contact-form" method="POST" class="contact-form-items">
                            <div class="row g-4">
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                                    <div class="form-clt">
                                        <input type="text" name="name" id="name" placeholder="Nombre completo">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="form-clt">
                                        <input type="text" name="email" id="email" placeholder="Su correo">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="form-clt">
                                        <input type="text" name="phone" id="phone" placeholder="Número teléfonico">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                    <div class="form-clt">
                                        <div class="category-oneadjust">
                                            <select name="cate" class="category">
                                                <option value="1">
                                                    Dominios
                                                </option>
                                                <option value="1">
                                                    Sitio web
                                                </option>
                                                <option value="1">
                                                    Hosting
                                                </option>
                                                <option value="1">
                                                    Soporte
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 wow fadeInUp" data-wow-delay=".7s">
                                    <div class="form-clt">
                                        <textarea name="message" id="message" placeholder="Mensaje o nota"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 wow fadeInUp" data-wow-delay=".9s">
                                    <div class="form-check d-flex gap-2 from-customradio">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault12">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Aceptar y Proteger Mis Datos
                                        </label>
                                    </div>
                                    <button type="submit" class="theme-btn">
                                        Enviar <i class="fa-solid fa-arrow-right-long"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

